.state0 {
  background-color: beige;
}

.state1 {
  background-color: green;
}

.state2 {
  background-color: blueviolet;
}


td {
  height: 50px;
  width: 50px;
  border: solid 3px transparent;
}

.incorrect {
  border: solid 3px red;
  pointer-events: none;
}

table .disabled {
  pointer-events: none;
}


.unclickable {
  pointer-events: none;
}

h1 {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

button {
  background-color: blueviolet;
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: large;
  margin: 30px;
}

label {
  font-size: large;
  font-weight: 700;
}

body {
  margin: 2%;
}

.right-side {
  display: flex;
  flex-direction: column;
}